@font-face {
    font-family: myFirstFont;
    src: url(comicz.ttf);
}
*{
    box-sizing: border-box;
}
body{
    font-family:"myFirstFont"
}
.heading{
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 40px;
    font-family: myFirstFont;
    margin-top: 5px;
}
.red{
    color: #FF0000;
}
.blue{
    color: #0000FF;
}
@media screen and (max-width:500px) and (min-width:300px){
    .heading{
        font-size: 30px;
    }
}
#logo{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    display: block;
}
.gallery1{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-flow: row wrap;
}
.gallery2{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-flow: row wrap;
    margin-top: 20px;
}
.img{
    display: flex;
    flex-direction: column;
    gap:6px;
    width: 40%;
}
.img:hover{
    border: 2px solid black;
    border-radius: 7px;
}
.dish{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
@media screen and (max-width:500px) and (min-width:300px){
    .dish{
        font-size: 17px;
    }
}
