*{
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 40px;
}
#logo{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    display: block;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-direction: row;
}
.img{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 250px;
}
.dish{
    text-align: center;
    font-weight: bold;
}