@font-face {
    font-family: myFirstFont;
    src: url(comicz.ttf);
}
@font-face {
    font-family: mySecondFont;
    src: url(comicz.ttf);
}
*{
    box-sizing: border-box;
}
body{
    font-family:"myFirstFont"
}
.heading{
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 40px;
    font-family: myFirstFont;
    margin-top: 5px;
}
.red{
    color: #FF0000;
}
.blue{
    color: #0000FF;
}
@media screen and (max-width:500px) and (min-width:300px){
    .heading{
        font-size: 30px;
    }
}
#logo{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    display: block;
}
.gallery1{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-flow: row wrap;
}
.gallery2{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-flow: row wrap;
    margin-top: 20px;
}
.img{
    display: flex;
    flex-direction: column;
    gap:6px;
    width: 40%;
}
.img:hover{
    border: 2px solid black;
    border-radius: 7px;
}
img{
    width: 100%;
}
.dish{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
@media screen and (max-width:500px) and (min-width:300px){
    .dish{
        font-size: 17px;
    }
}
.heading1{
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 40px;
    font-family: myFirstFont;
    margin-top: 5px;
}
@media screen and (max-width:500px) and (min-width:300px){
    .heading1{
        font-size: 25px;
    }
}
.content1{
    display: flex;
    flex: row wrap;
    justify-content: center;
    gap: 40px;
}
.image img{
    border-radius: 20px;
    width: 100%;
    transition: border 1s;
}
.image img:hover{
    border: 2px solid #FF0000;
}
.desc{
    width: 80%;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #DEDEDE;
    font-family: mySecondFont;
    padding: 25px;
    padding-top: 3px;
}
p{
    padding: 5px;
    padding-top: 2px;
    font-size: 20px; 
}
h3{
    padding: 5px;
    text-decoration: underline;
    font-size: 20px;
}


